.full-width {
    width: 100%;
}

.completed-checkbox {
    margin-bottom: 16px;
    display: block;
}

.error-message {
    color: #f44336;
    margin-top: 15px;
}

mat-spinner {
    margin: 0 auto;
}